@import "tailwindcss";
/* Toggle switch styles
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

input:checked ~ .block {
  background-color: #48bb78;
} */
/* .dark {
  color-scheme: dark;
} */
@keyframes tilt-pulse {
  0%,
  5%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-4deg);
  }
  15% {
    transform: rotate(4deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  25% {
    transform: rotate(4deg);
  }
  30% {
    transform: rotate(0deg);
  }
}

.animate-tilt-pulse {
  animation: tilt-pulse 2.5s infinite ease-in-out;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind utilities;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
